.header {
  height: 40px;
  background: grey;
  color: black;
  font-weight: bold;

  display: flex;
  flex-direction: row;
}

.site {
  align-items: center;
  justify-content: left;
  padding-left: 30px;
}
