.header {
  height: 40px;
  background: grey;
  color: black;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  padding: 0px;
}

.site {
  align-items: center;
  justify-content: left;
  padding-left: 30px;
  height: 40px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-content: center;
}
